@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@700&family=Poppins:wght@200;300&family=Urbanist:wght@100&display=swap');
*{
  margin :0;
  padding: 0;
  box-sizing: border-box;
}

/* 
font-family: 'poppins' , sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Chivo Mono', monospace;
font-family: 'Outfit', sans-serif;
font-family: 'Urbanist', sans-serif; 
*/

.navbar{
  font-family: 'poppins' , sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0px 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0px solid gray !important;
}

.nav-link{
  font-weight: normal !important;

}

.active{
  border-bottom: 2px solid;
}

.navbar-brand{
  font-weight: 700;
  font-family: 'roboto',sans-serif;
  letter-spacing:3px ;
}


/* footer */

.footer{
  color: white;
  padding: 25px;
  background: #000000;
  background: linear-gradient(to right, #434343 , #000000);

}


.footer a{
  text-decoration: none;
  color: white;
  padding: 10px;

}

.footer a:hover{
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}


